

/* Data layers Footnotes*/
.footnote-ref-1-b {
	 top: 500px;
}

.footnote-ref-2-b {
	 top: 900px;
}

.footnote-ref-3-b {
	 top: 1500px;
}

.footnote-ref-4-b{
	 top: 1850px;
}

.footnote-ref-5-b {
	 top: 1950px;
}

.footnote-ref-6-b {
	 top: 2300px;
}

/* Time Scales Footnotes */
.footnote-ref-1-c {
	 top: 200px;
}

.footnote-ref-2-c {
	 top: 400px;
}

.footnote-ref-3-c {
	 top: 1150px;
}

.footnote-ref-4-c{
	 top: 1200px;
}

.footnote-ref-5-c {
	 top: 1250px;
}

.footnote-ref-6-c {
	 top: 2400px;
}

.footnote-ref-7-c {
	 top: 2600px;
}

.footnote-ref-8-c {
	 top: 2850px;
}

/* View from Above Footnotes */
.footnote-ref-1-d {
	 top: 1150px;
}
.footnote-ref-2-d {
	 top: 1400px;
}
.footnote-ref-3-d {
	 top: 2750px;
}
.footnote-ref-4-d {
	 top: 5000px;
}
.footnote-ref-5-d {
	 top: 6100px;
}
.footnote-ref-6-d {
	 top: 6150px;
}
.footnote-ref-7-d {
	 top: 6160px;
}
.footnote-ref-8-d {
	 top: 6250px;
}
.footnote-ref-9-d {
	 top: 6300px;
}
.footnote-ref-10-d {
	 top: 6550px;
}
.footnote-ref-11-d {
	 top: 6600px;
}
.footnote-ref-12-d {
	 top: 6900px;
}
.footnote-ref-13-d {
	 top: 7400px;
}


/* UNOSAT Footnotes */
.footnote-ref-1-e {
	 top: 100px;
}
.footnote-ref-2-e {
	 top: 150px;
}
.footnote-ref-3-e {
	 top: 1850px;
}
.footnote-ref-4-e {
	 top: 1900px;
}
.footnote-ref-5-e {
	 top: 1950px;
}


/*YouTubeFootnotes*/
.footnote-ref-1-f {
	 top: 1540px;
}
.footnote-ref-2-f {
	 top: 1780px;
}
.footnote-ref-3-f {
	 top: 1900px;
}